# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.swp
*.sqlite3

# Virtual Environment
venv/
env/

# Django
db.sqlite3
media/
staticfiles/
*.log

# Environment files
.env
*.env
.env.local

# VSCode
.vscode/
.idea/
*.iml

# Mac/Linux
.DS_Store

# Logs
*.log
